doctype html
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		meta(http-equiv='X-UA-Compatible' content='ie=edge')
		link(rel='stylesheet' href='/css/style.min.css')
		title contacts
	body
		.container
			.contacts-content
				.contacts__info
					.contacts__title-el.title Contact Our Team
					.contacts__sub-text.text Enter your information below. We are here to help!
				.connect-info
					.connect__content-left
						.contacts-form
							form.form-group(action='')
								.form__wrapper
									.wrapper__content
										.form__title
											.form__title-el Let's Connect
										.form__columns
											.form__column.column-1
												label.first-name(for='firstName')
													span.span-text First Name
													input#firstName.firstName.fields(type='text' placeholder='Please enter your first name')
												label.phone(for='phone')
													span.span-text Mobile Phone
													input#phone.phone.fields(type='tel' placeholder='+1 (___) ___-____')
											.form__column.column-2
												label.second-name(for='second-name')
													span.span-text Last Name
													input#second-name.second-name.fields(type='text' placeholder='Please enter your last name')
												label.email(for='email')
													span.span-text Email
													input#email.email.fields(type='email' placeholder='Please enter your email')
										.form__column.column-3
											.text__area-wrapper
												span.text-area-text.span-text How Can We Help?
												textarea.text-area(name='text')
											.form__sub-text
												| I authorize SlyText to inform me about SlyText products, services and events. If
												| I want to unsubscribe at any time.
												| My data will be processed in accordance with the SlyText
												a.form__sub-text-links(href='') Terms of Use
												|                                         &
												a.form__sub-text-links(href='')
													| Privacy
													| Policy.
											.form__btn-wrapper
												button.btn.btn-l-blue.form__btn(type='submit') Send message
					.content-right
						.call-column.contact_column
							.content__right-title.contacts__right-title Call Us
							.right__text.text
								| Have questions? Speak to a real person.
								| Our team is ready to take your call.
							a.right__number(href='') +1 (617) 399-9980
							.working.text Monday - Friday: 9am to 6pm ET
						.email-column.contact_column
							.email_title.contacts__right-title Email Us
							.email__sub-text.text
								| Shoot us an email and we'll be sure
								| to respond as quick as possible.
							.email__address support@slytext.com
							.sub__text.text All day. Every day.
						.socialize-column.contact_column
							.socialize__title.contacts__right-title Socialize With Us
							.socialize__text.text
								| We'd love the opportunity to connect
								| with you via one of our social channels.
								| Whether it's a question or just to chat,
								| take a minute to look us up!
							.socialize__icons
								//- SVG number 1
								svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(fill-rule="evenodd" clip-rule="evenodd" d="M5 0C2.23858 0 0 2.23858 0 5V19C0 21.7614 2.23858 24 5 24H9.04688V15.4688H6V12H9.04688V9.35625C9.04688 6.34922 10.8375 4.6875 13.5797 4.6875C14.8922 4.6875 16.2656 4.92188 16.2656 4.92188V7.875H14.7516C13.2609 7.875 12.7969 8.80078 12.7969 9.75V12H16.125L15.593 15.4688H12.7969V24H19C21.7614 24 24 21.7614 24 19V5C24 2.23858 21.7614 0 19 0H5Z" fill="#2974D3")

								//- SVG number 2
								svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
									rect(width="24" height="24" rx="5" fill="#2974D3")
									path(d="M18.9882 8.56471C18.8235 7.95294 18.3412 7.47059 17.7294 7.30588C16.6118 7 12.1412 7 12.1412 7C12.1412 7 7.67059 7 6.55294 7.29412C5.95294 7.45882 5.45882 7.95294 5.29412 8.56471C5 9.68235 5 12 5 12C5 12 5 14.3294 5.29412 15.4353C5.45882 16.0471 5.94118 16.5294 6.55294 16.6941C7.68235 17 12.1412 17 12.1412 17C12.1412 17 16.6118 17 17.7294 16.7059C18.3412 16.5412 18.8235 16.0588 18.9882 15.4471C19.2824 14.3294 19.2824 12.0118 19.2824 12.0118C19.2824 12.0118 19.2941 9.68235 18.9882 8.56471Z" fill="white")
									path(d="M10.7175 14.1412L14.4352 12.0001L10.7175 9.85889V14.1412Z" fill="#2974D3")

								//- SVG number 3
								svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
									path(fill-rule="evenodd" clip-rule="evenodd", d="M5 0C2.23858 0 0 2.23858 0 5V19C0 21.7614 2.23858 24 5 24H19C21.7614 24 24 21.7614 24 19V5C24 2.23858 21.7614 0 19 0H5ZM12.0003 9.33333C10.5276 9.33333 9.33397 10.5276 9.33397 12.0003C9.33397 13.4731 10.5276 14.6673 12.0003 14.6673C13.4731 14.6673 14.6673 13.4731 14.6673 12.0003C14.6673 10.5276 13.4731 9.33333 12.0003 9.33333ZM12.0003 16.1084C9.73143 16.1084 7.89225 14.2692 7.89225 12.0003H7.89232C7.89232 9.7313 9.73143 7.89225 12.0003 7.89225C14.2692 7.89225 16.1084 9.73143 16.1084 12.0003C16.1084 14.2692 14.2692 16.1084 12.0003 16.1084ZM15.4726 8.2628C15.3672 8.10488 15.311 7.91924 15.311 7.72937C15.3113 7.47485 15.4125 7.23083 15.5925 7.05089C15.7725 6.87096 16.0166 6.76983 16.2711 6.76971H16.2715C16.4613 6.76979 16.6469 6.82617 16.8048 6.93172C16.9626 7.03727 17.0856 7.18726 17.1582 7.36271C17.2308 7.53817 17.2497 7.73121 17.2126 7.91742C17.1755 8.10363 17.084 8.27466 16.9497 8.40887C16.8153 8.54308 16.6442 8.63445 16.458 8.67141C16.2718 8.70838 16.0787 8.68929 15.9033 8.61656C15.7279 8.54383 15.5781 8.42072 15.4726 8.2628ZM7.2825 18.2372C7.56424 18.347 7.98819 18.4769 8.76819 18.5125V18.5126C9.61123 18.5514 9.86385 18.5591 12.0003 18.5591C14.1368 18.5591 14.3901 18.5514 15.2334 18.5126C16.0134 18.4771 16.4375 18.3472 16.7191 18.2374C17.0926 18.092 17.3595 17.9185 17.6393 17.6389C17.9191 17.3594 18.0923 17.0929 18.2378 16.7194C18.3469 16.4376 18.4774 16.0137 18.513 15.2337C18.5518 14.3897 18.5595 14.137 18.5595 12.0006C18.5595 9.86411 18.5518 9.61149 18.513 8.76749C18.4775 7.98749 18.3476 7.56341 18.2378 7.2818C18.0923 6.90828 17.9195 6.64139 17.6393 6.36157C17.3591 6.08175 17.0926 5.90792 16.7191 5.76314C16.4367 5.65434 16.0134 5.52345 15.2334 5.48793C14.3894 5.44953 14.1358 5.44127 12.0003 5.44127C9.86481 5.44127 9.61149 5.44902 8.76819 5.4878C7.98819 5.52326 7.56411 5.65319 7.2825 5.76301C6.90834 5.90779 6.64209 6.08123 6.36227 6.36144C6.08245 6.64164 5.90926 6.90815 5.76385 7.28167C5.65504 7.56411 5.52416 7.98736 5.48864 8.76736C5.45049 9.61136 5.44211 9.86398 5.44211 12.0004C5.44211 14.1369 5.44985 14.3902 5.48864 15.2335C5.52409 16.0135 5.65402 16.4376 5.76385 16.7192C5.90862 17.0927 6.08207 17.359 6.36227 17.6388C6.64247 17.9186 6.90898 18.0918 7.2825 18.2372ZM6.76005 4.42005C7.26829 4.22228 7.85027 4.08724 8.70195 4.04845H8.70227C9.55574 4.00902 9.82897 4 12.0013 4C14.1736 4 14.4462 4.00947 15.2993 4.04845C16.1504 4.0866 16.732 4.22228 17.2412 4.42005C17.7666 4.62428 18.2132 4.89757 18.6578 5.34284C19.1024 5.7881 19.3758 6.23401 19.58066.76005C19.7784 7.26829 19.9134 7.8502 19.9522 8.70195C19.991 9.55497 20 9.82769 20 12.0003C20 14.1729 19.991 14.445 19.9522 15.2987C19.914 16.1504 19.7784 16.732 19.5806 17.2406C19.3758 17.7666 19.1031 18.2132 18.6578 18.6578C18.2125 19.1024 17.7666 19.3758 17.2406 19.5806C16.732 19.7784 16.1504 19.9134 15.2987 19.9522C14.4457 19.9916 14.173 20.0006 12.0003 20.0006C9.82769 20.0006 9.55542 19.991 8.70195 19.9522C7.85027 19.9134 7.26925 19.7784 6.76005 19.5806C6.23337 19.3758 5.78804 19.1022 5.34284 18.6578C4.89764 18.2134 4.62428 17.7666 4.42005 17.2406C4.22228 16.732 4.08724 16.1504 4.04845 15.2987C4.00902 14.4457 4 14.1729 4 12.0003C4 9.82769 4.00902 9.55497 4.04845 8.70195C4.08724 7.85027 4.22228 7.26861 4.42005 6.76005C4.62428 6.23337 4.89757 5.7874 5.34284 5.34284C5.7881 4.89828 6.23401 4.62428 6.76005 4.42005Z" fill="#2974D3")

								//- SVG number 4
								svg(width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg")
									rect(width="24" height="24" rx="5" fill="#2974D3")
									path(d="M18.9882 8.56471C18.8235 7.95294 18.3412 7.47059 17.7294 7.30588C16.6118 7 12.1412 7 12.1412 7C12.1412 7 7.67059 7 6.55294 7.29412C5.95294 7.45882 5.45882 7.95294 5.29412 8.56471C5 9.68235 5 12 5 12C5 12 5 14.3294 5.29412 15.4353C5.45882 16.0471 5.94118 16.5294 6.55294 16.6941C7.68235 17 12.1412 17 12.1412 17C12.1412 17 16.6118 17 17.7294 16.7059C18.3412 16.5412 18.8235 16.0588 18.9882 15.4471C19.2824 14.3294 19.2824 12.0118 19.2824 12.0118C19.2824 12.0118 19.2941 9.68235 18.9882 8.56471Z" fill="white")
									path(d="M10.7175 14.1412L14.4352 12.0001L10.7175 9.85889V14.1412Z" fill="#2974D3")






















