block footer
	footer.footer
		section.section-footer
			.container
				.footer-content
					.logo-wrapper.f-block
						img(src="../img/Logo-f.svg",  alt="" , class="logo__el")
					nav.footer-menu
						ul.footer__left-list.f-list
							-leftlist = ['Features', 'Pricing', 'Blog', 'Contacts']
							each item in leftlist
								li.footer_left-list.f-list
									a(class="footer__left-link.f-link-el.js__footer-links", href=item.toLowerCase() + ".html" )=item
					ul.footer__right-list.nav-r-block
						// Цикл меню
						- rightlist = ['FAQ', 'Terms of Use', 'Privacy Policy']
						each item in rightlist
							li.footer__right-list.f-list
								a(class="footer__footer__right-link.f-link-el.js__footer-links", href=item.toLowerCase() + ".html")=item
					.footer_contacts-block.c-block
						.contacts-title Get in Touch!
						.footer__support-post
							a(class="footer__support-address", href="https://slytext.com/faq/") support@slytext.com
						.footer__sup-number    +1 (617) 399-9980
						.footer__icons-block
							img.footer__icon_fb(src='../img/facebook.svg' alt='')
							img.footer__icon_fb(src='../img/tw.svg' alt='')
							img.footer__icon_fb(src='../img/insta.svg' alt='')
							img.footer__icon_fb(src='../img/youtube.svg' alt='')
		.agreement © 2022 MobileSphere, LLC.
.scroll__circle.js-scroll__top
	.arrow




