block header
	header.header
		.container
			.header-content
				.header__inner
					.logo.js-logo
						a(href='Main.html' target="_self" )
							img(src='../img/Logo.svg' alt='')
					nav.menu
						ul.menu__list.js-menu__list
							- list = ["Features", "Pricing", "FAQ", "Blog", "Contacts"]
							each item in list
								li.menu__item
									a(
										href=item.toLowerCase() + ".html",
										target="_self",
										class="js-menu__link-js menu__link link-el"
									)= item
					.burger.js-burge
						each lineNum in [1, 2, 3]
							div(class=`line line-${lineNum}`)
					.btn__wrapper.js-btn__wrapper
						a(href='SIngIn.html')
							button.header__btn.btn.form__btn.btn-white.js-btn-sing-in Sing in
						a(href='#')
							button.header__btn.btn.form__btn.btn-l-blue Create account

			.content-sub
				.content-left
					.sub__title
						| Communicate Faster With
						br
					.sub-text.text-content SlyText is a web-based, online text messaging service tha enables two-way communications from the web to any smartphone in the United States or Canada… and back! Incorporate web texting and SMS texts into your marketing strategy and send personalized text messages to hundreds of contacts in minutes. Slytext supports text,video, audio, emoji, and picture messaging.
					.section__button
						button.js-btn.btn.btn-blue(data-button='btn') Try it Now
				.content-right
					img(src="../img/Geometry.svg" alt="")




