block main
main.main
	.container
		.benefits
			.benefits__title.title
				| Benefits of Sending SMS Online
			.benefits-sub__title
				| What you need to work with Slytext
			.benefits-columns
				.benefits__column
					.b-column__icon
						img.col__item(src='../img/1.svg' alt='')
					.b-column_title Efficiency
					.b-column_text.text
						| 93% of people read SMS advertising in the
						| first minute after receiving its
				.benefits__column
					.b-column__icon
						img.col__item(src='../img/2.svg' alt='')
					.b-column_title Cheapness
					.column_text.text
						| Contact with a client via SMS is many times cheaper than other
						| channels
				.benefits__column
					.b-column__icon
						img.col__item(src='../img/3.svg' alt='')
					.b-column_title Performance
					.b-column_text.text
						| &Scy;alculated 21% of promo codes and discounts sent via SlyText are
						| activated
				.benefits__column
					.b-column__icon
						img.col__item(src='../img/4.svg' alt='')
					.b-column_title Raising Customer Loyalty
					.b-column_text.text
						| Write a greeting text and SlyText will send a message on the
						| right
						| day!
	section.section
		.container
			.recall-wrapper.wrapper-content
				.recall__image.box-icon
					img.recall__image-item.img-item(src='../img/img.svg' alt='')
					img.recall__image-item-1(src='../img/Img2.svg' alt='')
				.recall-info.info-box
					.recall-title.title Sending SMS Messages
					p.recall__text.text
						| SMS is an effective and proven channel of
						| communication with customers: it has long been a habit of users to expect
						| SMS as a reliable confirmation of a transaction.
					p.recall__text.text
						| Connect SMS mailings via Slytext: report
						| the status of an order, delivery and payment, inform about promotions,
						| bonuses, new products or congratulate customers on holidays.
					.recall_accept-wrapper.r-wrapper
						.recall-accept-row-1
							.recall__accept
								.accept__icon-wrapper
									img.recall_accept__icon.accept__icon(src='../img/accept.svg' alt='')
								.recall__accept-text Delivery to all mobile devices
							.recall__accept
								.accept__icon-wrapper
									img.recall_accept__icon.accept__icon(src='../img/accept.svg' alt='')
								.recall__accept-text Convenient email template builder
						.recall-accept-row-2
							.recall__accept
								.accept__icon-wrapper
									img.recall_accept__icon.accept__icon(src='../img/accept.svg' alt='')
								.recall__accept-text Message text in any language
							.recall__accept
								.accept__icon-wrapper
									img.recall_accept__icon.accept__icon(src='../img/accept.svg' alt='')
								.recall__accept-text High sending speed
	section.section
		.container
			.features-content.wrapper-content
				.features-info.info-box
					.features-title.title Special features of Slytext
					p.features__text.text
						| A convenient Slytext personal account provides many
						| tools for generating SMS messages, sending and viewing statistics in real time.
					p.features__text.text
						| Use the capabilities of the platform: increase the conversion of bulk SMS and user
						| engagement.
					.features_accept-wrapper.r-wrapper
						.recall-accept-row-1
							.recall__accept
								.accept__icon-wrapper
									img.accept__icon(src='../img/accept.svg' alt='')
								.recall__accept-text Scheduled Messages
							.recall__accept
								.accept__icon-wrapper
									img.accept__icon(src='../img/accept.svg' alt='')
								.recall__accept-text Easy Customer Opt-Out
						.recall-accept-row-2
							.recall__accept
								.accept__icon-wrapper
									img.accept__icon(src='../img/accept.svg' alt='')
								.recall__accept-text Call Forwarding
							.recall__accept
								.accept__icon-wrapper
									img.accept__icon(src='../img/accept.svg' alt='')
								.recall__accept-text Multimedia Messaging
					.features__buttons-inner
						a(href='')
							button.header__btn.btn.form__btn.btn-white.js-auth-btns learn more
						a(href='createAccount.html')
							button.header__btn.btn.form__btn.btn-l-blue.js-auth-btns Create account
				.recall__image.box-icon
					img.recall__image-item.img-item(src='../img/Img3.svg' alt='')
	section.section
		.container
			.featured__wrapper.wrapper-content
				.featured__image.box-icon
					img.recall__image-item.img-item(src='../img/img4.svg' alt='')
				.featured-info.info-box
					.recall-title.title Fully Featured Mobile App
					p.recall__text.text
						| Manage your entire text messaging program
						| on the go with our free mobile app. It contains all the same great
						| features our desktop experience offers and supports both Apple and Android.
					.featured__mobile-wrapper.r-wrapper
						.recall__accept
							.accept__icon-app-wrapper
								a(href='https://www.apple.com/app-store/')
									img.app__icon(src='../img/ios.svg' alt='')
						.recall__accept
							.accept__icon-app-wrapper
								a(href='https://play.google.com/store/apps/details?id=com.mobilesphere.slytext&hl=ru')
									img.app__icon(src='../img/g8.svg' alt='')
	.newsletter
		.container
			.form-sletter-wrapper
				.form-inner
					form.sub-form
						.form-title Join Our Newsletter
						.form-text
							| Subscribe to our newsletter, no spam.
							| By subscribing you agree to our Terms of Use and Privacy Policy.
						.group-fields
							label(for='name')
								input#name.input__field(type='text' placeholder='  Enter your name')
							label(for='text')
								input#text.input__field(type='text' placeholder='  Enter your phone number')
							.btn-wrp
								button.form-btn.btn-blue.js-btn(data-number='2') Join
				.form-icon
					img.form__icon-el.img-item(src='../img/Geometry2.svg' alt='')
	section.section
		.section-business
			.container
				.business-wrapper
					.business__title
						.title
							| How Can Slytext Help Your Business?
					.business__sub-text
						.text
							| Our text messaging service is not only convenient for your customers,
							| but also useful for business. Find out how SMS marketing and two-way
							| messaging give you a competitive edge over other services.
					ul.bus_li
						li.business__list-el(data-list='1')
							| Marketing &amp; Promotions
						li.business__list-el(data-list='2')
							| Sales &amp; Support
						li.business__list-el(data-list='3')
							| HR &amp; Recruting
						li.business__list-el(data-list='4')
							| Text for Info
						li.business__list-el(data-list='5')
							| Reminders
					.business_boxes
						.businnes__active__wrapper(data-content='1')
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/pic1.svg' alt='')
									.box__title
										h2.box__title-text Coverage of a Larger Audience
									.box__text-info
										.box__text
											| Build an audience of highly engaged subscribers
											| with text-for-info, customizable sign-up widgets, and more.
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/pic2.svg' alt='')
									.box__title
										h2.box__title-text Sale Announcement
									.box__text-info
										.box__text
											| No more A/B testing subject lines
											| hoping for higher open rates. With text message
											| marketing, your offers are always seen.
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/pic3.svg' alt='')
									.box__title
										h2.box__title-text Personalized Messages
									.box__text-info
										.box__text
											| Use segments and custom fields
											| to make your SMS text marketing campaigns
											| unique to every subscriber&mdash;automatically.
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/pic4.svg' alt='')
									.box__title
										h2.box__title-text Show Results
									.box__text-info
										.box__text
											| Gain insight into what&apos;s working.
											| Use analytics to quickly check in on click-throughs,
											| delivery, subscriber growth
						.businnes__active__wrapper.hide(data-content='2')
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/wink.svg' alt='')
									.box__title
										h2.box__title-text Delight Clients
									.box__text-info
										.box__text
											| Your clients would rather text
											| than call or email. They&apos;ll love the ability to
											| text your number for more information.
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/clock.svg' alt='')
									.box__title
										h2.box__title-text Save Time
									.box__text-info
										.box__text
											| Cut down on phone tag and busy work.
											| Connect SlyText to your CRM or ticketing system
											| to automate outreach.
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/funnel.svg' alt='')
									.box__title
										h2.box__title-text
											| Close More DealsClose More DealsClose More
											| Deals
									.box__text-info
										.box__text
											| Increase your reply rate from leads.
											| Use two-way texting to follow-up with leads and field questions.
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/hand.svg' alt='')
									.box__title
										h2.box__title-text Work Together
									.box__text-info
										.box__text
											| Seamlessly collaborate with your team.
											| Give all of your departments and agents their
											| own text-enabled numbers.
						.businnes__active__wrapper.hide(data-content='3')
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/multiple.svg' alt='')
									.box__title
										h2.box__title-text Source Candidates
									.box__text-info
										.box__text
											| Speed up your hiring process.
											| Create a keyword which you can promote
											| online or in-person.
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/b-comment%201.svg' alt='')
									.box__title
										h2.box__title-text Invite Applicants
									.box__text-info
										.box__text
											| Take advantage of text marketing&apos;s high response rates.
											| Instantly send a text campaign to groups of candidates inviting.
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/event-create.svg' alt='')
									.box__title
										h2.box__title-text Schedule Interviews
									.box__text-info
										.box__text
											| Avoid back-and-forth email chains and buried replies.
											| Send a link to your calendar to schedule interviews faster.
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/personal-trainer.svg' alt='')
									.box__title
										h2.box__title-text Coordinate Your Team
									.box__text-info
										.box__text
											| Whether you need to schedule shifts, remind your team of
											| open enrollment, or ask for t-shirt sizes, texting saves you time.
						.businnes__active__wrapper.hide(data-content='4')
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/search%2017.svg   ' alt='')
									.box__title
										h2.box__title-text Find New Customers
									.box__text-info
										.box__text
											| Set up a text-for-info keyword and promote it in emails,
											| radio spots, billboards, and everywhere else.
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/newsletter%201.svg' alt='')
									.box__title
										h2.box__title-text Collect Emails and More
									.box__text-info
										.box__text
											| Trigger a series of text messages to collect first name,
											| last name, email and more. Pass this data to your other apps or CRM.
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/reply.svg' alt='')
									.box__title
										h2.box__title-text Follow-Up Faster
									.box__text-info
										.box__text
											| Send a text as soon as someone signs up. Enter new
											| subscribers into a text marketing drip campaign to keep them engaged.
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/pic4.svg' alt='')
									.box__title
										h2.box__title-text Segment Your Audience
									.box__text-info
										.box__text
											| Get unlimited keywords with any plan. Create unique
											| keywords for different audiences, events, promotions, and more.u time.
						.businnes__active__wrapper.hide(data-content='5')
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/new-notification.svg' alt='')
									.box__title
										h2.box__title-text Reduce No-Shows
									.box__text-info
										.box__text
											| Missed appointments are inconvenient and costly. Send a
											| text to clients days, hours, or minutes before their scheduled time.
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/restore.svg' alt='')
									.box__title
										h2.box__title-text Reschedule Easily
									.box__text-info
										.box__text
											| Need to reschedule? Don&apos;t risk it on a voicemail. Use
											| two-way text messaging to quickly find a new, convenient time.
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/gear.svg' alt='')
									.box__title
										h2.box__title-text Connect to Your Software
									.box__text-info
										.box__text
											| With Zapier and SlyText, you can integrate our texting
											| service with your current scheduling software or calendar.
							.box
								.box_elements
									.box__icon
										img.box__icon-el(src='../img/edit.svg' alt='')
									.box__title
										h2.box__title-text Create Templates
									.box__text-info
										.box__text
											| Save time with customizable templates. Write your
											| frequently sent messages then re-use them over and over again.
	section.section
		.container
			.section_instruction
				.instruction-box
					.instruction-title.title How it Works
				.instruction__sub-title
					| Simple as 1-2-3
				.instruction_columns
					.instruction__column
						.instruction__image-wrapper
							img.instr__image-el(src='../img/one.svg' alt='')
						.instruction__content
							.column__title
								| Create an account
							.box__text.text
								| Register with SlyText &amp; select a plan to get
								| started. You can scale up or down at any time
								| based on your messaging needs.
							.box_link
								a.box__link-el.link_el(href='') Create an accounte
					.instruction__column
						.instruction__image-wrapper
							img.instr__image-el(src='../img/one.svg' alt='')
						.instruction__content
							.column__title
								| Register sender name
							.box__text.text
								| Register with SlyText &amp; select a plan to get
								| started. You can scale up or down at any time
								| based on your messaging needs.
							.box_link
								a.box__link-el.link_el(href='') Learn More
					.instruction__column
						.instruction__image-wrapper
							img.instr__image-el(src='../img/one.svg' alt='')
						.instruction__content
							.column__title
								| Start sending SMS
							.box__text.text
								| Register with SlyText &amp; select a plan to get
								| started. You can scale up or down at any time
								| based on your messaging needs.
							.box_link
								a.box__link-el.link_el(href='') Learn More
	section.section
		.container
			.warranties.wrapper-content
				.warranties__image.box-icon
					img.recall__image-item.img-item(src='../img/img1.svg' alt='')
				.warranties-info.info-box
					.warranties-title.title Warranties or Have Questions?
					p.warranties__text.text
						| We think you&apos;ll love our online texting
						| platform. However, if you aren&rsquo;t completely
						| satisfied with your first text marketing campaign, we&rsquo;ll refund your
						| money, see our Terms of Use
					p.warranties__text.text
						| Need answers to how an online texting
						| service can work with your current marketing strategy or how you
						| can incorporate it into your workflows?
					p.warranties__text.text
						| Call our friendly support team at
						br
						|                         +1 (617) 399-9980 or email us at
						a(href='https://slytext.com/faq/') support@slytext.com
