doctype html
html(lang='en')
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width")
		link(rel="stylesheet", href="/css/style.min.css")
	body
		block header
		block main
		block footer

		block Sing-in

		block blog-columns

		block terms-block

		block BlogPosts

		block contacts

		block faq

		block privacy-content

		block features

		block pricing

		block create-acc


		script(src="./webpack/main.bundle.js")
		script(src="./webpack/sing-in.bundle.js")
		script(src="./webpack/scroll.bundle.js")
		script(src="./webpack/faq.bundle.js")
		script(src="./webpack/footer_nav.bundle.js")

