//doctype html
//html(lang='en')
//	head
//		meta(charset="UTF-8")
//		meta(name="viewport", content="width=device-width")
//		link(rel="stylesheet", href="/css/style.min.css")
//	body
//		block header
//
//		block main
//
//		block footer
//
//
//		script(src="./webpack/main.bundle.js")
//		script(src="./webpack/sing-in.bundle.js")
//		script(src="./webpack/scroll.bundle.js")

