extends layouts/index
block faq
	section.section-faq
		.container
			.header-content
				.header__inner
					.logo.js-logo
						a(href='Main.html' target="_self" )
							img(src='../img/Logo.svg' alt='')
					nav.menu
						ul.menu__list.js-menu__list
							- list = ["Features", "Pricing", "FAQ", "Blog", "Contacts"]
							each item in list
								li.menu__item
									a(
										href=item.toLowerCase() + ".html",
										target="_self",
										class="js-menu__link-js menu__link link-el"
									)= item
					.burger.js-burge
						each lineNum in [1, 2, 3]
							div(class=`line line-${lineNum}`)
					.btn__wrapper.js-btn__wrapper
						a(href='SIngIn.html')
							button.header__btn.btn.form__btn.btn-white.js-btn-sing-in Sing in
						a(href='#')
							button.header__btn.btn.form__btn.btn-l-blue Create account
			.faq-content__inner
				.faq-title.title
					| Frequently Asked Questions
				.faq-sub__title Have questions? We’re here to help
				.faq-main-info
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='1')
								.vertical-line(data-line='1')
								.horizontal-line
						.parent
							.row-text.text.js-row-text(data-text='1')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='2')
								.vertical-line(data-line='2')
								.horizontal-line
						.parent
							.row-text.text.js-row-text(data-text='2')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='3')
								.vertical-line(data-line='3')
								.horizontal-line
						.parent
							.row-text.text.js-row-text(data-text='3')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='4')
								.vertical-line(data-line='4')
								.horizontal-line
						.parent
							.row-text.text.js-row-text(data-text='4')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='5')
								.vertical-line(data-line='5')
								.horizontal-line
						.parent
							.row-text.text.js-row-text(data-text='5')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='6')
								.vertical-line(data-line='6')
								.horizontal-line
						.parent
							.row-text.text.js-row-text(data-text='6')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='7')
								.vertical-line(data-line='7')
								.horizontal-line
						.parent
							.row-text.text.js-row-text(data-text='7')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='8')
								.vertical-line(data-line='8')
								.horizontal-line
						.parent
							.row-text.text.js-row-text(data-text='8')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='9')
								.vertical-line(data-line='9')
								.horizontal-line
						.parent
							.row-text.text.js-row-text(data-text='9')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='10')
								.vertical-line(data-line='10')
								.horizontal-line
						.parent
							.row-text.text.js-row-text(data-text='10')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='11')
								.vertical-line(data-line='11')
								.horizontal-line
						.parent
							.row-text.text.js-row-text(data-text='11')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='12')
								.vertical-line(data-line='12')
								.horizontal-line
						.parent
							.hide.row-text.text.js-row-text(data-text='12')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='13')
								.vertical-line(data-line='13')
								.horizontal-line
						.parent
							.row-text.text.js-row-text(data-text='13')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='14')
								.vertical-line(data-line='14')
								.horizontal-line
						.parent
							.row-text.text.js-row-text(data-text='14')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='15')
								.vertical-line(data-line='15')
								.horizontal-line
						.parent
							.row-text.text.js-row-text(data-text='15')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='16')
								.vertical-line(data-line='16')
								.horizontal-line
						.parent
							.row-text.text.js-row-text(data-text='16')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
					.faq-row
						.row-inner
							.row-title
								| What is slyText and how does it work?
							.circle-el(data-circle='17')
								.vertical-line(data-line='17')
								.horizontal-line
						.parent
							.row-text.text.js-row-text(data-text='17')
								| SlyText is a "web text" messaging service that allows its users to send messages from the
								| web to
								| any smartphone in the United States or Canada, and back! SlyText allows you to send a text
								| to a
								| group of telephone numbers via our web browser. The recipients will receive your message on
								| the
								| date and time of your choice from the telephone number you choose when signing up for an
								| account. In the interface, you will have access to all sms messages conversations, replies
								| and
								| messaging history.
			section.section
				.sub__section-wrapper
					.container
						.sub__wrapper
							.sub__media
								img.sub__media-el(src='../img/Faces.svg' alt='')
							.sub__title
								.sub_title-text
									| Still have questions?
							.sub__sub__title
								.sub_sub__title-text.text
									| Can’t find the answer you’re looking for? Please send us an email and we will
									| respond to your request
							.wrapper_btn
								button.sub_button.btn.btn-l-blue Write a Letter
			.newsletter
				.container
					.form-sletter-wrapper
						.form-inner
							form.sub-form
								.form-title Join Our Newsletter
								.form-text
									| Subscribe to our newsletter, no spam.
									| By subscribing you agree to our Terms of Use and Privacy Policy.
								.group-fields
									label(for='name')
										input#name.input__field(type='text' placeholder='  Enter your name')
									label(for='text')
										input#text.input__field(type='text' placeholder='  Enter your phone number')
									.btn-wrp
										button.form-btn.btn-blue.js-btn(data-number='2') Join
						.form-icon
							img.form__icon-el.img-item(src='../img/Geometry2.svg' alt='')
	.scroll__circle.js-scroll__top
		.arrow

