@media (max-width: 1023px) {
  .header-inner {
    flex-direction: column;
  }

  .menu__list {
    justify-content: center;
    margin-right: 0;
  }
  .left-column {
    display: none;
  }

  .card {
    flex-direction: column;
    align-items: center;
  }
}
