.Features-title {
  text-align: center;
  font-weight: bold;
  padding: 15px;
}
.features-subtext {
  text-align: center;
}
.right-section {
  max-width: 696px;
}

.columns-wrapper {
  display: flex;
  justify-content: space-between;
}
.card {
  display: flex;
  max-width: 696px;
  background-color: #f2f8ff;
  border-radius: 20px;
  margin-bottom: 28px;
}
.card-info {
  max-width: 496px;
  padding: 40px;
}
.right-column {
  padding-left: 120px;
  display: flex;
  flex-direction: column;
}
.card-icon {
  padding: 40px 25px;
}

.card-title {
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.left-column {
  max-width: 384px;
}
.list-feature {
  height: 64px;
  background-color: #ffffff;
  padding: 24px 20px;
  font-size: 14px;
  line-height: 24px;
}
.list-feature {
  color: #010101;
  padding: 10px;
  cursor: pointer;
}
.list-feature::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #ebebeb;
}
.left__column-title {
  padding: 10px;
  font-size: 24px;
  font-weight: bold;
}
.left__column-text {
  padding: 10px;
}
