.blog__posts-title,
.blog__posts_under-text {
    text-align: center;
}

.blog__post_column-content-left,
.blog__post_column-content-right{
    padding: 10px;
}

.blog__post_column-content-right {
    display: flex;
    flex-direction: column;
    padding: 10px 12px;
    max-width: 696px;
}

.blog__posts-inner {
    margin-top: 50px;
}

.blog-post-columns {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin-top: 50px;
}

.blog__post_column-content {
    display: flex;
}

.blog__posts-column {
   margin-bottom: 64px;
}

.blog__post_column-content-right-posted {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    padding: 0 10px;
    color: #939393;
}

.blog__post_column-content-right-title {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: var(--black);
    padding: 10px 10px 2px 10px;
}

.blog__posts_under-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    padding: 10px;
}

.blog__post_column-content-right-text{
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    padding: 10px;
}