.business__title {
    text-align: center;
}

.business-wrapper {
    padding-top: 30px;
}

.business__sub-text {
    max-width: 864px;
    margin: 0 auto;
    text-align: center;
}

.bus_li {
    display: flex;
    justify-content: center;
}

.business_boxes {
    display: flex;
    padding: 40px 0;
    flex-wrap: wrap;
}

.business__list-el {
    padding: 10px;
    font-weight: bold;
    cursor: pointer;
}

.box {
    width: 50%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.box_elements {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-radius: 20px;
    min-height: 240px;
    padding: 30px;
}

.box__text {
    line-height: var(--line-height);
    color: var(--black);
    padding: 10px;

}

/*.box__title {*/
/*    padding: 12px 0 5px 0;*/
/*}*/

.box__title {
    padding: 10px
}

.box__link-el {
    color: var(--blue);
}

.box__icon {
    width: 72px;
    height: 72px;
    border-radius: 50%;
    background-color: var(--light-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.box__text-info {
    padding-bottom: 40px;
}

.section-business {
    background: #F2F8FF;
    margin: 96px 0;
}

.column__title, .box_link {
    font-weight: bold;
    padding: 0 10px;
}

.box__link-el {
    color: var(--blue);
}

.businnes__active__wrapper {
    display: flex;
    flex-wrap: wrap;
}

.hide {
    display: none;
}