@media (max-width: 767px) {
    .logo {
        background: white;
        position: relative;
        z-index: 10000;
    }
}

.logo__item {
    object-fit: contain;
}

.logo {
    min-width: 70px;
    min-height: 41px;
}