.privacy__title-el {
    margin: 40px 0;
}

.privacy__column-title {
    padding: 0 10px;
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
}

.privacy__column {
    margin-bottom: 40px;
}

.privacy_columns {
    display: flex;
    flex-direction: column;
}