@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --light-blue: #42C9B8;
    --black: #393535;
    --Darkgrey: #4c4c4c;
    --blue: #1953a8;
    --white: #FFFFFF;
    --Verysmall: 12px;
    --Small: 14px;
    --Medium: 16px;
    --large: 32px;
    --padding: 14px 30px;
    --font-family: 'Poppins', sans-serif;
    --border-radius: 8px;
    --line-height: 24px;
    --max-width: 696px;
    --font-weight: 400;
}

