.pricing__title,
.pricing__sub__text,
.sub__content-title,
.sub__content_sub-text {
  text-align: center;
}

.pricing-content-wrapper {
  max-width: 1216px;
  margin: 0 auto;
}

.pricing-columns {
  display: flex;
  align-items: center;
}

.pricing__column-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  background: linear-gradient(95.05deg, #0854B8 0%, #2974D3 100%);
  border-radius: 20px 20px 0 0;
  color: var(--white);
  padding: 16px;
}

/*.pricing__column-title:nth-last-child(2) {*/
/*    background: linear-gradient(95.05deg, #E9A41E 0%, #FCB937 100%)!important;*/
/*}*/
.pricing__column {
  padding: 16px;
  width: 33.33%;
}

.pricing__column-content {
  background: #F2F8FF;
  border-radius: 20px 20px 20px 20px;
}

.pricing__column-content-3 {
  background: #FFFAEF;
  border-radius: 20px 20px 20px 20px;
}

.pricing__column-message_price {
  display: flex;
  justify-content: space-between;
  padding: 2px 10px;
}

.pricing__column-messages {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.pricing__column_price {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}

.pricing__column-inner {
  max-width: 310px;
  margin: 0 auto;
  padding: 40px 10px 10px 10px;
}

.pricing__column_list-capability {
  margin: 0 25px;
}

.pricing-column_sub-list-inner {
  padding: 6px 5px;
}

.pricing__column_list {
  list-style-type: initial;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
}

.pricing__column_list-3 {
  padding: 3px 0;
}

.pricing__column-sub-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
}

.pricing__column_sub-list {
  font-style: italic;
  font-weight: 400;
  font-size: 11px;
  line-height: 20px;
  color: var(--blue);
  padding: 3px 0;
}

.pricing-btn-3 {
  background: #FCB937 !important;
  border: 1px solid #FCB937 !important;
}

.pricing__column-title-3 {
  background: #FCB937 !important;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  border-radius: 20px 20px 0 0;
  color: var(--white);
  padding: 16px;
}

.divide-line {
  width: 100%;
  height: 1px;
  background: #DCDCDC;
  margin: 24px 0;
}

.pricing-btn-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(50%);
}

.pricing-btn,
.pricing-btn-3 {
  min-width: 180px;
}

.pricing__column-message_price-wrapper,
.pricing__column-message_price-title {
  min-height: 150px;
}

.pricing__column-message_price-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sub__column {
  width: 33.33%;
  background: #F2F8FF;
  border-radius: 20px;
  padding: 22px;
  margin: 10px;
}

.sub-columns {
  display: flex;
  padding: 40px 10px;
}

.sub__column-content {
  display: flex;
  flex-direction: column;
  max-width: 270px;
}

.sub__column-media {
  margin: 10px;
  width: 48px;
  height: 48px;
  background: linear-gradient(133.45deg, #D6E6FB 24.99%, rgba(255, 255, 255, 0) 104.59%);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sub__column_title {
  font-size: 20px;
  line-height: 32px;
  font-weight: 700;
  padding: 4px 10px;
}

.sub__column-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  padding: 10px;
}

.sub-content {
  padding: 40px 10px;
}

/*# sourceMappingURL=pricing.css.map */
